@use './variaveis';
@use './linguagens';
@use './breakpointsMedia';

.apresentacao {
    background: variaveis.$color-backgroud;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    padding: 2.1rem;

    @include breakpointsMedia.breakpoint(small) {
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
        padding: 6rem 2.1rem !important;
        height: auto !important;
    }

    @include breakpointsMedia.breakpoint(medium) {
        justify-content: center;
        flex-direction: column-reverse;
        padding: .5rem 2.1rem;
        text-align: center;
        height: 80vh;
    }
}

.sobreMim {
    background: variaveis.$color-backgroud;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: center;
    padding: 3rem;

    @include breakpointsMedia.breakpoint(small) {
        justify-content: center;
        flex-direction: column;
    }

}

.apresentacao_coluna p {
    font-size: 1.5rem;
    font-weight: 300;

    @include breakpointsMedia.breakpoint(small) {
        display: none;
    }

    @include breakpointsMedia.breakpoint(medium) {
        display: none;
    }
}

.apresentacao__titulo {
    display: none;

    @include breakpointsMedia.breakpoint(small) {
        display: block;
    }

    @include breakpointsMedia.breakpoint(medium) {
        display: block;
    }
}

.apresentacao__titulo h2 {
    font-size: 3rem;
    padding-bottom: 2rem;


    @include breakpointsMedia.breakpoint(small) {
        font-size: 1.5rem !important;
        padding: 2rem 0;
    }

    @include breakpointsMedia.breakpoint(medium) {
        font-size: 3rem;
        padding: 2rem 0;
    }
}

.apresentacao__titulo_animado {
    display: inline-flex;
    padding-bottom: 1rem;

    @include breakpointsMedia.breakpoint(small) {
        display: none;
    }

    @include breakpointsMedia.breakpoint(medium) {
        display: none;
    }
}

.apresentacao__titulo_animado .estatico {
    color: variaveis.$color-fonts;
    font-size: 3rem;
    font-weight: 400;
}

.apresentacao__titulo_animado .dinamico {
    margin-left: 15px;
    height: 3rem;
}


.dinamico li {
    color: variaveis.$color-fonts;
    list-style: none;
    font-size: 3rem;
    font-weight: 500;
}


.dinamico li span {
    position: relative;
}

.dinamico li span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    border-left: 2px solid variaveis.$color-fonts;
    background: variaveis.$color-backgroud;
    animation: typing 2.5s steps(20) forwards;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
        display: none;
    }
}

.sobreMim__text{
    width: 50%;

    @include breakpointsMedia.breakpoint(small) {
        width: 100%;
    }

    @include breakpointsMedia.breakpoint(medium) {
        width: 100%;
    }
}

.sobreMim__text__titulo {
    font-size: 3rem;
    padding-bottom: 2rem;

    @include breakpointsMedia.breakpoint(small) {
        font-size: 1.5rem;
        text-align: center;
    }
    
}

.apresentacao__titulo p{
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 2rem;

    @include breakpointsMedia.breakpoint(small) {
        font-size: 1rem;
        text-align: center;
    }
}

.sobreMim__text__conteudo {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: justify;
    padding-bottom: 2rem;

    @include breakpointsMedia.breakpoint(small) {
        font-size: 1.5rem;
        text-align: justify;
    }
}

.sobreMim__text__link {
    padding: 1rem;
    border-radius: 20px;
    border: none;
    color: variaveis.$color-font-buttons;
    background: variaveis.$color-buttons;
    text-decoration: none;
    cursor: pointer;

    @include breakpointsMedia.breakpoint(small) {
        padding: .8rem;
        font-size: .8rem;
    }
}


.sobreMim__text__link:hover {
    background: variaveis.$color-buttons-hover;
    transition: .5s all;
}

.sobreMim__text__link:active {
    background: variaveis.$color-buttons;
    transition: none;
}

.apresentacao__imagem,
.sobreMim__imagem {
    width: 20%;

    @include breakpointsMedia.breakpoint(small) {
        width: 20%;
    }

    @include breakpointsMedia.breakpoint(medium) {
        width: 50%;
    }
}

.sobreMim__imagem {
    @include breakpointsMedia.breakpoint(medium) {
        display: none;
    }
}

.sobreMim__imagem img {
    display: block;
    animation: moverParaLado 4s infinite;

    @include breakpointsMedia.breakpoint(small) {
        animation: none;
        display: none;
    }
}

.apresentacao__imagem img {
    display: block;
    width: 100%;
    height: 100%;


    @include breakpointsMedia.breakpoint(small) {
        animation: none;
        margin-bottom: 1.8rem;
    }
}


@keyframes moverParaLado {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100px);
    }
}