@use './variaveis';
@use './linguagens';
@use './breakpointsMedia';

.apresentacao{
    background:variaveis.$color-backgroud;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.1rem;

    @include breakpointsMedia.breakpoint(small){
        justify-content: center;
        flex-direction: column-reverse;
        padding: .5rem 2.1rem;
    }
}

.sobreMim{
    background:variaveis.$color-backgroud;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-around;
    text-align: center;
    padding: 3rem;
    @include breakpointsMedia.breakpoint(small){
        justify-content: center;
        flex-direction: column;
    }
    
}


.apresentacao__titulo h2, .sobreMim__text__titulo{
    font-size: 3rem;
    padding-bottom: 2rem;
    @include breakpointsMedia.breakpoint(small){
        font-size: 1.2rem;
        text-align: center;
    }
}

.apresentacao__titulo p, .sobreMim__text__conteudo{
    font-size: 1.1rem;
    font-weight: 300;
    padding-bottom: 1rem ;
    @include breakpointsMedia.breakpoint(small){
        font-size: 1rem;
        text-align: center;
    }
}

.apresentacao__titulo button, .sobreMim__text__button{
    padding: 1rem;
    border-radius: 20px;    
    border: none;
    color: variaveis.$color-font-buttons;
    background: variaveis.$color-buttons;
    cursor: pointer;

    @include breakpointsMedia.breakpoint(small){
        padding: .8rem;
        font-size: .8rem;
    }
}

.apresentacao__titulo button:hover, .sobreMim__text__button:hover{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    background: variaveis.$color-buttons-hover;
    transition: .5s all;
}

.apresentacao__titulo button:active, .sobreMim__text__button:active{
    background: variaveis.$color-buttons;
    transition: none;
}

.apresentacao__imagem, .sobreMim__imagem{
    width: 30%;
    @include breakpointsMedia.breakpoint(small){
        width: 60%;
    }
}

.sobreMim__imagem img{
    display: block;
    animation: moverParaLado 4s infinite;

    @include breakpointsMedia.breakpoint(small){
        animation: none;
        display: none;
    }
}

.apresentacao__imagem img{
    display: block;
    width: 100%;
    height: 100%;
    animation: moverParaCima 4s infinite;

    @include breakpointsMedia.breakpoint(small){
        animation: none;
        margin-bottom: 1.8rem;
    }
}

@keyframes moverParaCima {
    0%, 100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
}

@keyframes moverParaLado{
    0%, 100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(100px);
    }
}



