@use './variaveis';
@use './breakpointsMedia';

.footer{
    background: #27374D;
    display: flex;
    justify-content: space-around;
    padding: 2rem 4rem;


    .footer__contato h2{
        text-align: center;
        padding-bottom: .2em;
    }

    .footer__contato p{
        padding: .3em;
    }

    .footer__redes-sociais h2{
        text-align: center;
        padding-bottom: .2em;
    }

    .footer__redes-sociais a{
        display: block;
        align-items: center;
        text-align: center;
        text-decoration:none;
        padding: .3em;
    } 
}
.copyright p{
    background: #27374D;
     text-align: center;
     padding-bottom: 1rem ;
}

@include breakpointsMedia.breakpoint(small){
    .footer{
        flex-direction: column;
        padding: 2rem 2rem;
    }

    .footer__redes-sociais{
        display: none;
    }
}