@use "./variaveis";

.formacao{  
    background:variaveis.$color-backgroud;
    padding: 3rem;
    & h2{
        font-size: 3rem;
        padding-bottom: 2rem;
    }
    .formacao__conteiner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0 auto;
        width: 50%;
        height: 100%;
        gap: 25px;

        .formacao__universidade{
            grid-column: span 2;
            border: 1px solid white;
            border-radius: 5px;
            padding: .5rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            transform: scale(1);
            transition: 0.5s;
        }

        .formacao__universidade:hover{
            transform: scale(1.1);
            transition: 0.5s;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }

        .formacao__curso{
            border: 1px solid white;
            border-radius: 5px;
            height: 100%;
            padding: .5rem;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            transform: scale(1);
            transition: 0.5s;
        }

        .formacao__curso:hover{
            transform: scale(1.1);
            transition: 0.5s;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }
    }

}