@use "./variaveis";

.formacao{  
    background:variaveis.$color-backgroud;
    padding: 3rem;
    & h2{
        font-size: 3rem;
        padding-bottom: 2rem;
    }
    .formacao__conteiner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin: 0 auto;
        width: 50%;
        height: 100%;
        gap: 15px;

        .formacao__universidade{
            grid-column: span 2;
            border: 1px solid white;
            border-radius: 5px;
            padding: .5rem;
            
        }

        .formacao__curso{
            border: 1px solid white;
            border-radius: 5px;
            height: 100%;
            padding: .5rem;
        }
    }

}