@use '../abstract/variaveis';
@use './breakpointsMedia';

$color-background: #27374D;
$color-font: #fff;

body{
    overflow-x: hidden;
}

.cabeçalho{
    
    background:variaveis.$color-backgroud;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    
    
    .mobile-menu {
        cursor: pointer;
        display: none;
        @include breakpointsMedia.breakpoint(small){
            display: block;
        }

        .line {
            width: 32px;
            height: 2px;
            background: $color-font;
            margin: 6px 0;
            transition: transform 0.3s, opacity 0.3s;
        }

        &.active .line1 {
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        &.active .line2 {
            opacity: 0;
        }

        &.active .line3 {
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }


    .links{
        display: flex;
        list-style: none;

        & li{
            margin-right: 3rem;
            align-items: center;
        }

        & li a{
            text-decoration: none;
            color: variaveis.$color-fonts;
            position: relative;
        }

        & li a::after{
            content: " ";
            width: 0%;
            height: 2px;
            background: variaveis.$color-fonts;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: .5s ease-in-out;
        }

        & li a:hover::after{
            width: 100%;
        }
    }

    .cabeçalho__titulo h1 a{
        text-decoration: none;
        color: variaveis.$color-fonts;
        font-size: 2rem;
        font-weight: 500;
        @include breakpointsMedia.breakpoint(small){
            font-size: 1.5rem;
        }
    }

    .cabeçalho__redeSocial{
        margin-left: 13rem;
        display: flex;
        justify-content: space-around;

        @include breakpointsMedia.breakpoint(small){
            display: none;
        }
        
        .cabeçalho__redeSocial--links a{
            width: 100px;
            height: 100px;   
        }

        .fa-brands{
            padding-left: 1rem;
            font-size: 30px;
        }

        .fa-instagram:hover{
            width: 100%;
            height: 100%;
            color: transparent;
            background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
            background-clip: text;
            transition: .5s all;
        }
       
        .fa-linkedin:hover{
            width: 100%;
            height: 100%;  
            color: transparent;
            background: linear-gradient(45deg, #0077b5,  #caccce, #00a0dc);
            background-clip: text;
            transition: .5s all;
        }

        .fa-whatsapp:hover{
            width: 100%;
            height: 100%; 
            color: transparent;
            background: linear-gradient(45deg, #E5FFCC, #1EBEA5, #00E676, #D0E9EA, #ffffff);
            background-clip: text;
            transition: .5s all;
        }
    } 
}

@include breakpointsMedia.breakpoint(small) {
    

    .links {
        position: fixed;
        top: 60px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        background: $color-background;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        overflow-x: hidden;

        li {
            margin: 1rem 0;
        }

        &.active {
            transform: translateX(0);
            
        }
    }
}











