@charset "UTF-8";
.cabeçalho {
  background: #526D82;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.cabeçalho .links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.cabeçalho .links li {
  margin-right: 3rem;
  align-items: center;
}
.cabeçalho .links li a {
  text-decoration: none;
  color: white;
  position: relative;
}
.cabeçalho .links li a::after {
  content: " ";
  width: 0%;
  height: 2px;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.5s ease-in-out;
}
.cabeçalho .links li a:hover::after {
  width: 100%;
}
.cabeçalho .cabeçalho__titulo h1 a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  font-weight: 500;
}
.cabeçalho .cabeçalho__redeSocial {
  margin-left: 13rem;
  display: flex;
  justify-content: space-around;
}
.cabeçalho .cabeçalho__redeSocial .cabeçalho__redeSocial--links a {
  width: 100px;
  height: 100px;
}
.cabeçalho .cabeçalho__redeSocial .fa-brands {
  padding-left: 1rem;
  font-size: 30px;
}
.cabeçalho .cabeçalho__redeSocial .fa-instagram:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.5s all;
}
.cabeçalho .cabeçalho__redeSocial .fa-linkedin:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: linear-gradient(45deg, #0077b5, #caccce, #00a0dc);
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.5s all;
}
.cabeçalho .cabeçalho__redeSocial .fa-whatsapp:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: linear-gradient(45deg, #E5FFCC, #1EBEA5, #00E676, #D0E9EA, #ffffff);
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.5s all;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  color: white;
}

.linguagens {
  background: #526D82;
  padding: 0rem 0 1rem 0;
}
@media (max-width: 767px) {
  .linguagens {
    overflow-x: scroll;
  }
}
.linguagens .linguagens__imagens {
  display: flex;
  justify-content: center;
  gap: 5.5rem;
  align-items: center;
  flex-direction: row;
  list-style: none;
  text-align: center;
  /*ICONE HTML*/
  /*ICONE SASS*/
  /*ICONE JS*/
  /*ICONE ANGULAR*/
  /*ICONE REACT*/
  /*ICONE CSS*/
  /*ICONE GIT*/
}
.linguagens .linguagens__imagens li h3 {
  font-weight: 400;
}
.linguagens .linguagens__imagens .fa-brands {
  font-size: 2em;
}
.linguagens .linguagens__imagens .fa-html5 {
  position: relative;
  display: inline-block;
}
.linguagens .linguagens__imagens .fa-html5::after {
  content: "HTML";
  position: absolute;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 0.4em;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: -30px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
}
.linguagens .linguagens__imagens .fa-html5:hover::after {
  opacity: 0.9;
}
.linguagens .linguagens__imagens .fa-html5:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: #ec6231;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.3s linear;
}
.linguagens .linguagens__imagens .fa-sass {
  position: relative;
  display: inline-block;
}
.linguagens .linguagens__imagens .fa-sass::after {
  content: "Sass";
  position: absolute;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 0.4em;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: -30px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
}
.linguagens .linguagens__imagens .fa-sass:hover::after {
  opacity: 0.9;
}
.linguagens .linguagens__imagens .fa-sass:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: #d46a9c;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.3s linear;
}
.linguagens .linguagens__imagens .fa-js {
  position: relative;
  display: inline-block;
}
.linguagens .linguagens__imagens .fa-js::after {
  content: "JavaScript";
  position: absolute;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 0.4em;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: -30px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
}
.linguagens .linguagens__imagens .fa-js:hover:after {
  opacity: 0.9;
}
.linguagens .linguagens__imagens .fa-js:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: #f3e31b;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.3s linear;
}
.linguagens .linguagens__imagens .fa-angular {
  position: relative;
  display: inline-block;
}
.linguagens .linguagens__imagens .fa-angular::after {
  content: "Angular";
  position: absolute;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 0.4em;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: -30px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
}
.linguagens .linguagens__imagens .fa-angular:hover::after {
  opacity: 0.9;
}
.linguagens .linguagens__imagens .fa-angular:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: #cd042f;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.3s linear;
}
.linguagens .linguagens__imagens .fa-react {
  position: relative;
  display: inline-block;
}
.linguagens .linguagens__imagens .fa-react::after {
  content: "React";
  position: absolute;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 0.4em;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: -30px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
}
.linguagens .linguagens__imagens .fa-react:hover::after {
  opacity: 0.9;
}
.linguagens .linguagens__imagens .fa-react:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: #64dcfc;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.3s linear;
}
.linguagens .linguagens__imagens .fa-css3-alt {
  position: relative;
  display: inline-block;
}
.linguagens .linguagens__imagens .fa-css3-alt::after {
  content: "CSS";
  position: absolute;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 0.4em;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: -30px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
}
.linguagens .linguagens__imagens .fa-css3-alt:hover::after {
  opacity: 0.9;
}
.linguagens .linguagens__imagens .fa-css3-alt:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: #048bcb;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.3s linear;
}
.linguagens .linguagens__imagens .fa-git-alt {
  position: relative;
  display: inline-block;
}
.linguagens .linguagens__imagens .fa-git-alt::after {
  content: "Git";
  position: absolute;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
  font-size: 0.4em;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: -30px; /* Ajuste a posição vertical conforme necessário */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s;
}
.linguagens .linguagens__imagens .fa-git-alt:hover::after {
  opacity: 0.9;
}
.linguagens .linguagens__imagens .fa-git-alt:hover {
  width: 100%;
  height: 100%;
  color: transparent;
  background: #f45333;
  -webkit-background-clip: text;
          background-clip: text;
  transition: 0.3s linear;
}
.linguagens .separador {
  display: block;
  border-bottom: 2px solid white;
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0;
}
@media (max-width: 767px) {
  .linguagens .separador {
    padding: 0.5rem;
    display: none;
  }
}

.apresentacao {
  background: #526D82;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.1rem;
}
@media (max-width: 767px) {
  .apresentacao {
    justify-content: center;
    flex-direction: column-reverse;
    padding: 0.5rem 2.1rem;
  }
}

.sobreMim {
  background: #526D82;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-around;
  text-align: center;
  padding: 3rem;
}
@media (max-width: 767px) {
  .sobreMim {
    justify-content: center;
    flex-direction: column;
  }
}

.apresentacao__titulo h2, .sobreMim__text__titulo {
  font-size: 3rem;
  padding-bottom: 2rem;
}
@media (max-width: 767px) {
  .apresentacao__titulo h2, .sobreMim__text__titulo {
    font-size: 1.2rem;
    text-align: center;
  }
}

.apresentacao__titulo p, .sobreMim__text__conteudo {
  font-size: 1.1rem;
  font-weight: 300;
  padding-bottom: 1rem;
}
@media (max-width: 767px) {
  .apresentacao__titulo p, .sobreMim__text__conteudo {
    font-size: 1rem;
    text-align: center;
  }
}

.apresentacao__titulo button, .sobreMim__text__button {
  padding: 1rem;
  border-radius: 20px;
  border: none;
  color: white;
  background: #27374D;
  cursor: pointer;
}
@media (max-width: 767px) {
  .apresentacao__titulo button, .sobreMim__text__button {
    padding: 0.8rem;
    font-size: 0.8rem;
  }
}

.apresentacao__titulo button:hover, .sobreMim__text__button:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background: #9DB2BF;
  transition: 0.5s all;
}

.apresentacao__titulo button:active, .sobreMim__text__button:active {
  background: #27374D;
  transition: none;
}

.apresentacao__imagem, .sobreMim__imagem {
  width: 30%;
}
@media (max-width: 767px) {
  .apresentacao__imagem, .sobreMim__imagem {
    width: 60%;
  }
}

.sobreMim__imagem img {
  display: block;
  animation: moverParaLado 4s infinite;
}
@media (max-width: 767px) {
  .sobreMim__imagem img {
    animation: none;
    display: none;
  }
}

.apresentacao__imagem img {
  display: block;
  width: 100%;
  height: 100%;
  animation: moverParaCima 4s infinite;
}
@media (max-width: 767px) {
  .apresentacao__imagem img {
    animation: none;
    margin-bottom: 1.8rem;
  }
}

@keyframes moverParaCima {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
@keyframes moverParaLado {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
}
.footer {
  background: #27374D;
  display: flex;
  justify-content: space-around;
  padding: 2rem 4rem;
}
.footer .footer__contato h2 {
  text-align: center;
  padding-bottom: 0.2em;
}
.footer .footer__contato p {
  padding: 0.3em;
}
.footer .footer__redes-sociais h2 {
  text-align: center;
  padding-bottom: 0.2em;
}
.footer .footer__redes-sociais a {
  display: block;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 0.3em;
}

.copyright p {
  background: #27374D;
  text-align: center;
  padding-bottom: 1rem;
}

.formacao {
  background: #526D82;
  padding: 3rem;
}
.formacao h2 {
  font-size: 3rem;
  padding-bottom: 2rem;
}
.formacao .formacao__conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 auto;
  width: 50%;
  height: 100%;
  gap: 25px;
}
.formacao .formacao__conteiner .formacao__universidade {
  grid-column: span 2;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1);
  transition: 0.5s;
}
.formacao .formacao__conteiner .formacao__universidade:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.formacao .formacao__conteiner .formacao__curso {
  border: 1px solid white;
  border-radius: 5px;
  height: 100%;
  padding: 0.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transform: scale(1);
  transition: 0.5s;
}
.formacao .formacao__conteiner .formacao__curso:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.projetos {
  background: #526D82;
  padding: 3em;
}
.projetos .projetos_titulo {
  font-size: 3rem;
  padding: 0 0 1em 0;
}
.projetos .projetos_items {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5em;
}
.projetos .projetos_items .projetos_items__list {
  width: 80%;
  margin: 0 auto;
}
.projetos .projetos_items .projetos_items__list img {
  width: 100%;
  transform: scale(1);
  border-radius: 5px;
  transition: 0.5s;
}
.projetos .projetos_items .projetos_items__list img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.projetos .projetos_items .projetos_items_descricao {
  margin-left: 9em;
}
.projetos .projetos_items .projetos_items_descricao h3 {
  padding-bottom: 1em;
}
.projetos .projetos_items .projetos_items_descricao p {
  width: 100%;
  letter-spacing: 1px;
  line-height: 1.4;
}
.projetos .projetos_items .projetos_items_descricao .projetos_items_descricao--linguagens {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
  padding-top: 1.5em;
}
.projetos .projetos_items .projetos_items_descricao .projetos_items_descricao--linguagens .fa-brands {
  font-size: 2em;
}
.projetos .projetos_items .projetos_items_descricao .projetos_items_descricao--links {
  display: flex;
}
.projetos .projetos_items .projetos_items_descricao .projetos_items_descricao--links div {
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 1em;
}
.projetos .projetos_items .projetos_items_descricao .projetos_items_descricao--links div:nth-child(2) {
  margin-left: 0.5em;
}
.projetos .projetos_items--calmaria {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
}
.projetos .projetos_items--calmaria .projetos_items__list {
  width: 80%;
  margin: 0 auto;
}
.projetos .projetos_items--calmaria .projetos_items__list img {
  width: 100%;
  transform: scale(1);
  border-radius: 5px;
  transition: 0.5s;
}
.projetos .projetos_items--calmaria .projetos_items__list img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.projetos .projetos_items--calmaria .projetos_items_descricao {
  margin-right: 9em;
}
.projetos .projetos_items--calmaria .projetos_items_descricao h3 {
  padding-bottom: 1em;
}
.projetos .projetos_items--calmaria .projetos_items_descricao p {
  width: 100%;
  letter-spacing: 1px;
  line-height: 1.4;
}
.projetos .projetos_items--calmaria .projetos_items_descricao .projetos_items_descricao--linguagens {
  display: flex;
  flex-direction: row;
  gap: 1em;
  list-style: none;
  padding-top: 1.5em;
}
.projetos .projetos_items--calmaria .projetos_items_descricao .projetos_items_descricao--linguagens .fa-brands {
  font-size: 2em;
}
.projetos .projetos_items--calmaria .projetos_items_descricao .projetos_items_descricao--links {
  display: flex;
}
.projetos .projetos_items--calmaria .projetos_items_descricao .projetos_items_descricao--links div {
  padding: 0.5em;
  border: 1px solid white;
  border-radius: 50%;
  margin-top: 1em;
}
.projetos .projetos_items--calmaria .projetos_items_descricao .projetos_items_descricao--links div:nth-child(2) {
  margin-left: 0.5em;
}/*# sourceMappingURL=styles.css.map */